.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 110px;
  object-fit: contain;
  margin: 0px 5px;
  /* margin-top: 18px; */
  height: 40px;
}

.header__seachIcon {
  background-color: #febd69;
  height: 22px !important;
  padding: 5px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__searchInput {
  display: flex;
  flex: 1;
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__seachIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-weight: 800px;
  font-size: 13px;
}

.headerOption__Basket {
  color: white;
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
